{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
<h1>Edici&oacute;n de Usuario</h1>
<div class="joyas-container" style="width: 50%; margin: 0 auto;">
	<div class="container">
		{{ form_start(edit_form) }}
			{{ form_errors(edit_form) }}
			{{ form(edit_form) }}
			{{ form_widget(edit_form.submit) }}
			<a class="btn middle-second"  href="{{ path('usuario') }}">
				Volver
			</a>
		{{ form_end(edit_form) }}
	</div>
</div>

<script>
	$(document).ready(function (){
		$("input").removeAttr('required');
		$("#joyas_joyasbundle_usuario_cuit,#joyas_joyasbundle_usuario_login, #joyas_joyasbundle_usuario_clave, #joyas_joyasbundle_usuario_razonsocial").attr('required', 'required');
	});
</script>
{% endblock %}
