{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
    <h1 style="margin-bottom:10px;">
        Usuarios
        {% if usuario.perfil == 'ADMINISTRADOR' %}
        <a class="btn btn-primary" href="{{ path('usuario_new') }}">
            Crear
        </a>
        {% endif %}
    </h1>
    <div class="tablasScroll">
        <table id="tablas" class="display">
            <thead>
                <tr>
                    <th>Razoón Social</th>
                    <th>CUIT</th>
                    <th>Mail</th>
                    <th>Login</th>
                    <th>Clave</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.razonsocial }}</td>
                        <td>{{ entity.cuit }}</td>
                        <td>{{ entity.mail }}</td>
                        <td>{{ entity.login }}</td>
                        <td>{{ entity.clave }}</td>
                        <td>
                            <a class="btn btn-success" href="{{ path('usuario_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-info" href="{{ path('puntoventa') }}"><i class="fa fa-home"></i></a>
                            {% if entity.estado == 'A' %}
                                {% if entity.id != usuario.id %}
                                <a class="btn btn-danger" href="{{ path('usuario_delete', { 'id': entity.id }) }}"><i class="fa fa-times"></i></a>
                                {% endif %}
                            {% else %}
                            <a class="btn btn-primary" href="{{ path('usuario_activar', { 'id': entity.id }) }}"><i class="fa fa-spin fa-refresh"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>

        activarActionsTab('usuario');
    </script>
{% endblock %}
