{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Clientes
			<a style="float:right;" class="btn btn-default" href="{{ path('cliente_new') }}">
				Crear
			</a>
			</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="tablasScroll">
		<table id="tablas" class="display">
			<thead>
				<tr>
					<th>Raz&oacute;n Social</th>
					<th>CUIT / DNI</th>
					<th>Mail</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td><a title="Cuenta Corriente" href="{{ path('cliente_show', { 'id': entity.id }) }}">{{ entity.razonSocial }}</a></td>
					<td>{{ entity.cuit|default(entity.dni) }}</td>
					<td>{{ entity.mail }}</td>
					<td>
						<a title="Editar" class="btn btn-default" href="{{ path('cliente_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-sm-12">
		{{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
	</div>
    <script>
    	$('document').ready(function(){
    		$('td').css('padding', '2px');
    		$('.pagination a').attr('class', 'btn btn-default');
    		$('.pagination li').css('float', 'left');
    		$('.pagination').css('width', '100%');
    	});
    </script>
    <style>
    .active .btn
    {
        background-color: #9E9E9E;
    }
    </style>

{% endblock %}
